.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #f8b700;
  border-radius: 4px;
  background-color: #170e09;
  color: #f8b700;
}

.vid-list {
  border: 1px solid #504137;
  cursor: pointer;
  background-color: #170e09;
  color: #f8b700;
}

.list-group-item:hover {
  border: 1px solid #f8b700;
}

body {
  background-image: url("http://media.blizzard.com/wow/media/wallpapers/other/legion/legion-2048x1536-standard.jpg");
  background-position: center;
}